<div style="margin-top: -1px;">
  <div class=" bg-primdark">
      <br>
      <br>
      <div class=" row">
        <p class="fs-1 text-atcenter text-light">Mission Statement</p>
        <br>
        <p class="text-light text-atcenter" style="padding: 4rem;">
          Aquidan Enterprise is a leader in providing Rainwater Harvesting and Filtration solutions through 'best in
          class' products using beast technology. We customize and design green eco-friendly systems to conserve and
          re-use water at your premises.

        </p>
      </div>
    </div>
   <div>
    <svg xmlns="http://www.w3.org/2000/svg" class="bg-primdark" viewBox="0 0 1439 319">
      <path fill="#fff" fill-opacity="1"
        d="M0,64L120,90.7C240,117,480,171,720,186.7C960,203,1200,181,1320,170.7L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
      </path>
    </svg>
   </div>
   <div class="text-atcenter">

  <p class="fs-1 text-atcenter text-dark p-9">Vision Statement:</p>
  <p>Our vision is to become India's leading water and environment Management Company and contribute towards the
    conversation of precious natural resource called water.</p>
</div>
    
  </div>
