<div class="container text-atcenter">
    <br><br><br>
    <span class="p-2"> 
        <div class="spinner-grow text-primdark " style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
        </div>
    </span>
   
    <span class="p-2"> 
        <div class="spinner-grow text-primdark " style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
        </div>
    </span>
    <span class="p-2"> 
        <div class="spinner-grow text-primdark " style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
        </div>
    </span>
</div>