
<br>
<div class="container">
    
    <p class="fs-1 text-atcenter text-dark p-9 fw-bolder">Our Work</p>
    <div class="row">
        <div class="col-sm-6 p-3">
            <div class="card">

                <img src="../../assets/images/Aquidan_Drip_Before.jpg" class="card-img" alt="...">
                <div class="card-footer text-atcenter fw-bolder">
                    Before
                  </div>
            </div>

        </div>
        <div class="col-sm-6 p-3">
            <div class="card">
                <img src="../../assets/images/Aquidan_Drip_After.jpg" class="card-img" alt="...">
                <div class="card-footer text-atcenter fw-bolder">
                    After
                  </div>
              </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 p-3">
            <div class="card">

                <img src="../../assets/images/Aquidan_Drip_Before_2.jpeg" class="card-img" alt="...">
                <div class="card-footer text-atcenter fw-bolder">
                    Before
                  </div>
            </div>

        </div>
        <div class="col-sm-6 p-3">
            <div class="card">
                <img src="../../assets/images/Aquidan_Drip_After_2.jpeg" class="card-img" alt="...">
                <div class="card-footer text-atcenter fw-bolder">
                    After
                  </div>
              </div>
        </div>
      </div>
     
    
</div>
<br>
