/* You can add global styles to this file, and also import other style files */
  .bg-primdark{
    background-color: #0E4458;
  }
  .text-primdark{
    color: #0E4458;
  }

  .text-atleft{
    text-align: left;
  }


  .text-atright{
    text-align: right;
  }

  .text-atcenter{
text-align: center;
  }

  .heading{
    font-size:2rem;
  }

  .m-ng1{
    margin: 0px;
  }