<div class="text-atcenter">
  <div class="row">

    <div class="curved-div bg-primdark col">
      <br>
      <br>
      <div class="">
        <h1>Welcome to Aquidan</h1>
        <br>
        <p style="padding: 4rem;">
          Aquidan Enterprise provide water management and a rainwater harvesting solutions based on the Crosswave
          technology imported from Sekisui, Japan, a 12 Billion dollar company to our clients.
          Aquidan Enterprise providing innovative design solutions, Cost effective high quality instruments with
          excellent commissioningservice supports.
        </p>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1439 319">
        <path fill="#fff" fill-opacity="1"
          d="M0,64L120,90.7C240,117,480,171,720,186.7C960,203,1200,181,1320,170.7L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
        </path>
      </svg>
    </div>
    <div class="text-dark">
      <h1><b>Our solution to save rain water</b></h1>
      <br>
      <br>
      <p class="lead" style="padding: 4rem;">

        <b>Rain Water Harvesting tank (Recharge)</b>
        <br>
        <br>
        Committed to save ecology, Aquidan provides Rain water harvesting
        installations and solution using Modular Cross wave 2019 technology made available by the Japanese polymer
        giant,
        SEKISUI CHEMICALS. The filter installed along with ensures that no suspended solid can pass through along with
        water in the harvesting tank. <br><br>
        <br><br>
        <b>Rain Water Holding Tank</b>
        <br>
        <br>
        The Rain water collected can also be stored for later usage also. This is more commonly known as Fire Water
        Holding tank which is a mandatory industrial requirement. The modular 2018 Cross wave can be enclosed and a void
        space for water storage is created. The overflow from this Holding tank can be diverted further to a Recharge or
        a
        Percolation tank. The water stored can used for Horticulture purpose or for re use later. <br>
        Rain Water Percolation tank
        Rain water percolation pits can easily be constructed using filter and Cross wave modular structures. The time
        for
        construction of the tanks is 1 10th of the construction time required for conventional RCC and brickwork tanks.
        Percolation tanks are very successful in neighborhood parks and can be very effective to clear water clogging in
        township areas.

      </p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="bg-primdark" viewBox="2 2 1438 318">
      <path fill="#ffff" fill-opacity="1"
        d="M0,192L60,208C120,224,240,256,360,234.7C480,213,600,139,720,117.3C840,96,960,128,1080,154.7C1200,181,1320,203,1380,213.3L1440,224L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z">
      </path>
    </svg>
    <div class="text-light bg-primdark">
      <h1>Water filter</h1>
      <p style="padding: 4rem;">

        Water filter removes impurities by lowering contamination of water using a fine physical barrier, a chemical
        process, or a
        biological process. Filters cleanse water to different extents for purposes such as providing agricultural
        irrigation, accessible drinking water, public and private aquariums, and the safe use of ponds and swimming
        pools
      </p>
      <br>

      <br>

      <br>

      <br>
    </div>

  </div>
</div>